body{
    background: linear-gradient(#28165a, #c191ee);
    padding-bottom: 30%;
    font-family: ;
}

h1,h2,h4{
    color: #ffffff;
}

.imp{
    color: #b48ff8;
}

.mtimp{
    color: #b48ff8;
}

.link{
    color:#c0a7e0
}

.nmr{
    color: #ffffff;
}