body{
    background: linear-gradient(#28165a, #c191ee);
    padding-bottom: 30%;
    font-family: ;
}

h1,h2,h4{
    color: #ffffff;
}

.imp{
    color: #6f42c2;
}

.mtimp{
    color: #801ac4;
}

.link{
    color:#ffffff
}
